DATABASE_URL="mysql://root:your_password@localhost:3306/example"
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD="your_password"
JWT_SECRET="your_secret_key"
JWT_EXPIRES=259200
PORT=15001      
SECRET_KEY="your_secret_key" # 用于用户密码加密。请注意，设置完毕后不要修改，否则会导致用户无法登录。
